@import '~antd/dist/antd.css';

.app-container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #eee;
    display: flex;
}

@font-face {
    font-family: 'myFamily';
    src: url('./asset/fonts/Roboto-Regular.ttf');
}

/*全局字体*/
* {
    font-family: 'myFamily';
}
